<div class="wrapper container-fluid">
  <div class="sidebar" data-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="container-fluid">
          <nav class="navbar navbar-expand justify-content-end static-top" style="width: 1390px;">
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>

            <div class="header-dropdown container-fluid " style="justify-content: flex-end;" [matMenuTriggerFor]="menu" #menuTriggerInfo="matMenuTrigger">
                <i class="nc-icon nc-single-02" style="font-size: 30px;"></i>

              <!-- <span *ngIf="credentials?.username" class="mr-1 username">{{' '+credentials.username}}</span> -->
            </div>
            <mat-menu #menu="matMenu" xPosition="before">
              <span mat-menu-item (click)="signOut()" style="font-family: revert !important;"> <i class="fas fa-sign-out-alt"></i> Đăng xuất</span>
            </mat-menu>
          </nav>
        </div>
      </div>
    </nav>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
      <!-- <footer-cmp></footer-cmp> -->
  </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
