<div
  class="onboarding"
  *ngIf="
    authenticationService.statusDisplayResetPass === false &&
      authenticationService.statusDisplaySignup === false &&
      statusDisplayBackLoginScr === false;
    else displayBackScrLogin
  "
>
  <div class="text-title">
    <span *ngIf="displayHeader">
      <i (click)="handleBackScr()" class="recovery-backarrow fas fa-chevron-left"></i>
      <i (click)="handleCloseModal()" class="close-icon fas fa-times"></i>
    </span>

    <h4 class="text-create-new-pass">
      <b>{{ titleName }}</b>
    </h4>
    <!--titleName là props được truyền từ ngoài vào-->
    <!-- <div class="cross-bar-br"></div> -->
  </div>

  <!-- <ng-template #noRenderTextSmall></ng-template> -->
  <div class="login-form reg forget">
    <form [formGroup]="formPhoneNumber" (ngSubmit)="handleSendOtp()" class="form-control-input">
      <label [class.inline-form]="!checkRenderTextTitle">Số điện thoại</label>
      <input [readOnly]="disableInputNumberphone" formControlName="numberPhone" type="search" placeholder="Nhập số điện thoại" />

      <button [disabled]="statusBtnSubmitSendOtp" type="submit" class="btn btn-send-otp">Gửi mã</button>
    </form>
    <div *ngIf="submittedSendOtp && fNumberphone.numberPhone.errors" class="form-valid">
      <label *ngIf="fNumberphone.numberPhone.errors.required">Cần phải nhập số điện thoại</label>
      <!-- <div *ngIf="fNumberphone.numberPhone.errors.pattern">Định dạng số điện thoại sai</div> -->
    </div>
    <div *ngIf="statusDisplayCaptcha; else noRenderCaptcha" class="style-wrap-recaptcha" id="recaptcha-container"></div>
    <form [formGroup]="formVerification" (ngSubmit)="handleSubmitOtp()">
      <div class="form-control-input">
        <label>Mã xác nhận</label>
        <input formControlName="numberOtp" type="text" placeholder="Nhập mã xác nhận" />
        <div *ngIf="submittedVeriOtp && fNumberOtp.numberOtp.errors" class="form-valid">
          <label *ngIf="fNumberOtp.numberOtp.errors.required">Cần phải nhập mã xác thực</label>
          <!-- <div *ngIf="fNumberOtp.numberOtp.errors.pattern">Định dạng mã xác thực sai</div> -->
        </div>
      </div>
      <div class="form-control-input wraper-btn-blue-large">
        <input class="btn-blue-large" type="submit" value="Xác nhận" />
      </div>
    </form>
  </div>
  <a *ngIf="checkRenderTextTitle; else noRenderIconClose" (click)="handleCloseModal()" class="close-icon"></a>
  <ng-template #noRenderIconClose></ng-template>
</div>

<ng-template #displayBackScrLogin>
  <ng-container *ngIf="statusDisplayBackLoginScr; else displayResetPassScr">
    <app-login-control></app-login-control>
  </ng-container>
</ng-template>

<ng-template #displayResetPassScr>
  <ng-container *ngIf="authenticationService.statusDisplayResetPass; else displaySignupScr">
    <app-reset-password [numberPhoneOrEmail]="formPhoneNumber.value.numberPhone"></app-reset-password>
  </ng-container>
</ng-template>

<ng-template #displaySignupScr>
  <ng-container *ngIf="(authenticationService.displaySignupLoginSocial===false&&authenticationService.statusDisplaySignup&&!verifyChangePassw);else displayChangePassw"
    ><app-signup-control [phoneNumber]="formPhoneNumber.value.numberPhone"></app-signup-control
  ></ng-container>
</ng-template>

<ng-template #displayChangePassw>
  <!-- ChangePassword -->
</ng-template>

<ng-template #noRenderCaptcha></ng-template>
