<footer class="app-footer">
  <div class="container">
    <div class="container-item">
      <div class="content-item">
        <strong class="content-item-text-title">Thêm nơi sống</strong>
        <p>Tải xuống ứng dụng Android</p>
        <p>Tải xuống ứng dụng Iphone</p>
        <p>Trợ giúp</p>
        <p>Trang bản đồ</p>
        <p>Quảng cáo</p>
        <p>Tin tức</p>
      </div>
      <div class="content-item">
        <strong class="content-item-text-title">Quảng cáo</strong>
        <p>Bất động sản</p>
        <p>Đại lý độc quyền</p>
        <p>Nhà thầu</p>
      </div>
      <div class="content-item">
        <strong class="content-item-text-title">Thành phố</strong>
        <ul>
          <li>Hà Nội</li>
          <li>Hồ Chí Minh</li>
          <li>Đà Nẵng</li>
          <li>Hải Phòng</li>
          <li>Nha Trang</li>
          <li>Vũng Tàu</li>
          <li>Vinh</li>
        </ul>
      </div>
      <div class="content-item">
        <strong class="content-item-text-title">Theo dõi chúng tôi</strong>
        <ul>
          <li><i class="fab fa-facebook-square"></i>Facebook</li>
          <li><i class="fab fa-twitter-square"></i>Twitter</li>
          <li><i class="fab fa-youtube-square"></i>Youtube</li>
          <li><i class="fab fa-instagram-square"></i></li>
        </ul>
      </div>
    </div>

    <div class="pb-3 law">
      <a href="" class="mr-3">Điều khoản và Điều kiện sử dụng</a> <span class="mr-3">-</span>
      <a href="" class="mr-3">Điều khoản và Điều kiện của Hợp đồng </a> <span class="mr-3">-</span>
      <a href="" class="mr-3">Chính sách Bảo mật</a> <span class="mr-3">-</span>
      <a href="" class="mr-3">Khiếu nại</a>
    </div>
    <div class="pb-3 moreInfo">
      <span>@ Bản quyền 2020 Công ty cổ phần Landhub</span>
      <div class="float-right">
        <span class="mr-3">Xem tất cả thông tin</span>
        <img src="../../../../assets/images/site-logo.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>
