<div class="row form-menu-left mt-4">
  <ul id="" class="col-12 px-0">
    <li>
      <div class="item-parent">Quản lý thông tin cá nhân</div>
      <ul>
        <li class="itemChild" [routerLink]="['/thong-tin-ca-nhan']" routerLinkActive="router-link-active">
          Thay đổi thông tin cá nhân
        </li>
      </ul>
    </li>
    <li>
      <div class="item-parent">Quản lý tin đăng</div>
      <ul>
        <li class="itemChild" [routerLink]="['/quan-ly/bai-dang']">
          Quản lý tin đăng
        </li>
        <li class="itemChild" [routerLink]="['/dang-tin']">
          Đăng tin
        </li>
      </ul>
    </li>
  </ul>
</div>
