::ng-deep .mat-option.mat-selected{
  color: #fc7b27 !important;
}
::ng-deep .mat-selected {
  color: #fc7b27 !important;
}
// ::ng-deep .mat-select-arrow {
//   color: #fc7b27 !important;
// }
li:hover {
  background-color: #fc7b27 !important;
}

.hidden{
  display: none;
}
