<div class="onboarding">
  <i (click)="handleCloseModal()" class="close-icon fas fa-times"></i>
  <h4 class="text-title"><b>Tạo mật khẩu mới</b></h4>
  <form [formGroup]="formRsPass" (ngSubmit)="handleResetPassword()">
    <div class="nvt-input-container">
      <label>Mật khẩu mới</label>
      <div class="nvt-input-password">
        <input
          formControlName="newPassword"
          [type]="statusHideShowNewPass ? 'text' : 'password'"
          placeholder="Mật khẩu (ít nhất 6 ký tự)"
        />
        <span (click)="handleHideShowNewPassword()" class="show-password"
          >{{ statusHideShowNewPass ? "Ẩn" : "Hiển thị" }} mật khẩu</span
        >
      </div>

      <div *ngIf="submitted && f.newPassword.errors" class="form-valid">
        <label *ngIf="f.newPassword.errors.required">Cần phải nhập mật khẩu mới</label>
        <label *ngIf="f.newPassword.errors.minlength">Mật khẩu mới phải có ít nhất 6 ký tự</label>
        <label *ngIf="checkValuePassword">Mật khẩu mới không trùng với mật khẩu nhập lại</label>
      </div>
    </div>
    <div class="nvt-input-container">
      <label>Nhập lại mật khẩu</label>
      <div class="nvt-input-password">
        <input
          type="text"
          formControlName="reNewPassword"
          [type]="statusHideShowReNewPass ? 'text' : 'password'"
          placeholder="Nhập lại mật khẩu"
        />
        <span (click)="handleHideShowReNewPassword()" class="show-password"
          >{{ statusHideShowReNewPass ? "Ẩn" : "Hiển thị" }} mật khẩu</span
        >
      </div>

      <div *ngIf="submitted && f.reNewPassword.errors" class="form-valid">
        <label *ngIf="f.reNewPassword.errors.required">Cần phải nhập lại mật khẩu mới</label>
        <label *ngIf="f.reNewPassword.errors.minlength">Mật khẩu nhập lại phải có ít nhất 6 ký tự</label>
      </div>
      <div *ngIf="submitted" class="form-valid"><label *ngIf="checkValuePassword">Mật khẩu không khớp</label></div>
    </div>
    <div class="form-control-input wraper-btn-blue-large">
      <input id="cmd_forget" class="btn-blue-large" type="submit" value="Xác nhận" />
    </div>
  </form>
</div>
