.pagination {
  /*margin: 25px 0px;*/
  justify-content: center;
  background-color: transparent;
  li {
    display: inline;
    color: black !important;

    button {
      background-color: white !important;
      height: 30px;
      box-shadow: 0 -1px 4px rgba(0, 0, 0.2, 0.3);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 4px;
      min-width:40px;
      padding: 0px 3px;
      text-decoration: none;
      text-align: center;
      margin: 3px;
      font-size: 16px;

      div {
        color: black;
      }

      cursor: pointer;
      user-select: none;
    }
  }
  .page-number-active button {
    background-color: #6e0eeb !important;
    border: none !important;
  }
  .page-number-active button div{
    color: white !important;
  }
}
