.right-align {
  float: right;
}

.page-header {
  //background-color: linear-gradient(rgb(127,196,48), rgb(38,173,96));
  background: linear-gradient(to right, rgba(127, 196, 48, 1) 0%, rgba(38, 173, 96, 1) 100%);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-header ::ng-deep  span,
button {
  color: white;
}

.valign-center {
  display: flex;
  align-items: center;
}

.btn-header {
  background: rgba(165, 217, 109, 1);
  border-width: 0;
  padding: 8px 20px;
  :hover {
    background: rgba(125, 177, 69, 1);
  }
}

.btn-save {
  background: #0073dd;
  border-width: 0;
}

.btn-cancel {
  background: orange;
  border-width: 0;
}

.modal-header {
  background: #0073dd;
}

.modal-title {
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

h4 {
  font-size: 1.2rem;
}

// .row {
//   margin-top: 15px;
//   margin-bottom: 15px;
// }

.modal-footer {
  border-top: 1px solid #9ccaa7;

  .btn-save,
  .btn-cancel {
    width: 100%;
  }
}

.modal-body {

  .confirm-text {
    font-size: 16px;
    ::ng-deep .object-name {
      font-weight: bold;
      color: #4dc07d;
    }
  }

  .warning {
    color: #f0ad4e;
  }

  .danger {
    color: #c9302c;
  }

  .info {
    color: #31b0d5;
  }

  .success {
    color: #449d44;
  }

  .note-icon {
    width: 100%;
    text-align: right;
    font-size: 30px;
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
}
