// #header {
//   border-bottom: 2px #fc7b27 solid;

//   .container {
//     width: 80%;

//     .row {
//       img {
//         display: inline;
//         width: 180px;
//         cursor: pointer;
//         outline: none;
//       }

//       .header-userInfo {
//         display: flex;
//         justify-content: flex-end;

//         span:focus {
//           border: 0;
//           outline: none
//         }

//         span {
//           font-weight: 700;
//           cursor: pointer;
//         }

//         .header-dropdown {
//           color: #fc7b27;
//           cursor: pointer;
//         }
//       }
//     }

//   }

//   ::ng-deep .btn {
//     padding: 0 !important;
//     height: 100%;
//     font-size: 0.9rem !important;
//   }

//   ::ng-deep button:focus {
//     outline: 0px auto #fc6e0e !important;
//   }
//   // .mat-menu-item {
//   //   cursor: pointer !important;
//   //   margin-bottom: 0 !important;
//   //   line-height: 30px;
//   //   height: 30px;
//   //   :hover {
//   //     color: #fc7b27 !important;
//   //   }
//   // }
//   .main-page{
//     max-width: 95% !important;
//     width: 95% !important;
//   }
// }
// .mat-menu-item {
//   cursor: pointer !important;
//   margin-bottom: 0 !important;
//   line-height: 30px;
//   height: 30px;
//   :hover {
//     color: #fc7b27 !important;
//   }
// }

// .nav-item-active {
//   color: #fc7b27;
// }

// // custom mat menu
// hr {
//   margin-top: 0rem;
//   margin-bottom: 0rem;

// }



// ::ng-deep .mat-menu-panel {

//   overflow: hidden !important;
//   min-width: auto !important;
//   min-height: auto;
//   border-radius: 0 0 5px 5px !important;

//   :hover {
//     color: #fc7b27 !important;
//   }

//   // font-weight: 400 !important;
// }

// .nav-menu {
//   width: 77vw;
// }

// ::ng-deep {
//   .mat-dialog-container {
//     padding: 0px !important;
//     height: auto !important;
//     overflow: visible !important;
//   }

//   .cdk-overlay-dark-backdrop {
//     background: rgba(0, 0, 0, .50);
//   }
// }
// button:focus{
//   outline: none ;
//   box-shadow: none;
// }
// .help{
//   height: 100%;
// }


body {
  font-family: "Lato", sans-serif;
}



.main-head{
  height: 150px;
  background: #FFF;

}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%;
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 70%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}


